Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type
WarningsAsErrors: ""
HeaderFilterRegex: "src/.*"
FormatStyle: file
